<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit-Blogs</title>
    <%- include('./Partials/head.ejs') %>
</head>

<body>
    <%- include('./Partials/nav.ejs') %>
        <div class="container">
          
                <form action="/api/v1/blogs/edit/<%= blog._id %>" method="post">

                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" value="<%= blog.title %>" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <input type="text" name="category" class="form-control" value="<%= blog.category %>" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <input type="text" name="tags" class="form-control" value="<%= blog.tags.join(', ') %>">
                </div>

                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <textarea class="form-control" name="content" rows="5" required><%= blog.content %></textarea>
                </div>

                <button type="submit" class="btn btn-warning">
                    Update
                </button>

            </form>
        </div>
        <%- include('./Partials/Script.ejs') %>

</body>

</html>